<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.chen_wei.nce"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".data.NCEProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".view.ArticleActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.MainActivity"
            android:configChanges="orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity"/>
        </activity>
    </application>

</manifest>
